body{
  background-color: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container, .container-fluid{
  background-color: white;
}
.p-2{
  padding:20px;
}
.p-3{
  padding:30px;
}

.text-justify{
  text-align: justify;
}
.font-italic{
  font-style: italic;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}
